body {
   height: 90vh;
 }
 .wrap {
   width: 100%;
   height: 100%;
 }
 .wrap .title {
   height: 50px;
   width: 90%;
   margin: 50px 0 0 50px;
   font-size: 20px;
   line-height: 50px;
   border-bottom: 1px solid #000;
 }
 .wrap .title span {
   margin: 0 10px 0 30px;
 }
 table{
    width: 1000px;
    margin: auto;
    text-align: center;
    margin-top:50px;
 }
 td{
    height: 40px;
 }
 td>input{
    width: 700px;
    height: 26px;
 }
 button{
    margin:50px 0 0 500px;
    width: 200px;
    height: 46px;
    font-size: 20px;
 }